Use the wpt-generator skill to generate the following test. Rigorously follow all instructions in the skill.
{%- if output_dir %}
The output directory for these files MUST be: {{ output_dir }}
{%- endif %}

{{ suggestion_xml }}
