Generate the WPT tests for the following blueprint.
The output directory for these files MUST be: {{ output_dir }}
The root filename you MUST use for these files is: {{ root_name }}

{{ suggestion_xml }}

Feature Name: {{ feature_name }}
Feature Description: {{ feature_description }}

Related Specifications:
{{ spec_contents }}
