Extract the core normative test requirements for the following feature and specification.

<feature_definition>
  <feature_name>{{feature_name}}</feature_name>
  <feature_description>{{feature_description}}</feature_description>
</feature_definition>

<spec_document url="{{spec_url}}">
{{spec_contents}}
</spec_document>
