Execute the Audit Protocol on the following feature, specification, and test suite.

<feature_definition>
  <feature_name>{{feature_name}}</feature_name>
  <feature_description>{{feature_description}}</feature_description>
</feature_definition>

<spec_document url="{{spec_url}}">
{{spec_contents}}
</spec_document>

<test_suite>
    <test_batch>
    {% for path, contents in wpt_context.test_contents.items() %}
        <test_file path="{{ path }}">
{{ contents }}
        </test_file>
    {% endfor %}
    </test_batch>

    <dependency_library>
    {% for path, contents in wpt_context.dependency_contents.items() %}
        <dependency_file path="{{ path }}">
{{ contents }}
        </dependency_file>
    {% endfor %}
    </dependency_library>
</test_suite>
