Extract the core normative test requirements for the following feature, specification and explainer.

<feature_definition>
{{feature_definition}}
</feature_definition>

{% if spec_document -%}
<spec_document>
{{spec_document}}
</spec_document>
{%- endif %}

{% if explainer_content -%}
<explainer_document>
{{explainer_content}}
</explainer_document>
{%- endif %}

<existing_requirements>
{{existing_requirements_xml}}
</existing_requirements>
